PORT=3000
REDIS_HOST=localhost
REDIS_PORT=6379
DISCORD_BOT_TOKEN=YOUR_DISCORD_BOT_TOKEN
DISCORD_APP_ID=YOUR_DISCORD_APP_ID
DISCORD_CLIENT_ID=YOUR_DISCORD_CLIENT_ID
DISCORD_CLIENT_SECRET=YOUR_DISCORD_CLIENT_SECRET
DISCORD_REDIRECT_URI=http://localhost:5173/discord/callback
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/ping-ping
BETTER_AUTH_SECRET=YOUR_BETTER_AUTH_SECRET
BETTER_AUTH_URL=http://localhost:5173
TRUSTED_ORIGINS=http://localhost:5173,http://localhost:3000
NODE_ENV=development